QLineEdit {
    margin: 3px;
    padding: 2px;
    min-width: 20em;
    max-width: 30em;
}

QPushButton {
    max-width: 10em;
}

QComboBox {
    margin: 3px;
    padding: 2px;
}

QComboBox[search="true"] {
    min-width: 20em;
    max-width: 20em;
}

QTableWidget {
    margin-left: 3px;
}

QToolButton[author="true"] {
    margin-right: 3px;
}

QSpinBox[nav="true"] {
  min-width: 2em;
  max-width: 5em;
}

QLabel[nav="true"] {

}
